<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/index.css">
</head>
<body class="archive">
    {% load static %}
    <h4>
        <a href="/articles/new/"><h4 class="post-title">Создать новую статью</h4></a>
        <a href="/register"><h4 class="post-title">Регистрация</h4></a>
        <a href="/articles/"><h4 class="post-title">Вернуться ко всем записям</h4></a>
        <a href="/login/"><h4 class="post-title">Войти</h4></a>
    </h4>   

    <script src="{{ STATIC_URL }}/static/js/helloworld.js"></script>
</body>
</html>